body {
    background-image: url('./images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin:auto;

}

#game_elements_snowball {
    z-index: 1;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    position:absolute;
    right: 100%;
}

#snowball {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-top:20px;
}

#snowPosition {
    translate: 0 -100%;
    scale: 0,5;
    position: absolute;
    z-index: 15;
}

#counter {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 50px;
}

#game_background {
    background-image: url(images/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    z-index: -1;
    position: absolute;
}
.heart {
    max-width: 80px;
}

#heart1_container {

    top: 5%;
    right: -40%;
    z-index: 2;
    position: absolute;
}
#heart1_container img {
    width: 15%;
}
#heart2_container {

    top: 5%;
    right: -40%;
    z-index: 2;
    position: absolute;
}
#heart2_container img{
    width: 15%;
}

#heart3_container {

    top: 5%;
    right: -40%;
    z-index: 2;
    position: absolute;
}
#heart3_container {
    width: 15%;
}
#timeglas_conatiner {
    position: absolute;
    top: 0px;
    left: 50px;
}
#timeglas_conatiner img{
    width: 20%;
}
#counter {
    top: 5%;
    left: 5%;
    position: absolute;
    z-index: 2%;
}